

#resultText{
    text-align: center;
}

.shereButton {
    margin: 40px 0 40px;
    width: 140px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 30px;
    cursor: pointer;
    display: inline;
    margin: 20px auto 30px auto;
  }

